<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated My -->
      <package
            uri="/Users/ysakanaka/HomeWork/SEClass/GameMapEditor/src/mapping"
            class="soft.mapping.MappingPackage"
            genModel="model/My.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated My -->
      <package
            uri="/Users/ysakanaka/HomeWork/SEClass/GameMapEditor/src/main"
            class="soft.main.MainPackage"
            genModel="model/My.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated My -->
      <package
            uri="/Users/ayumi/SE"
            class="soft.fileio.FileioPackage"
            genModel="model/My.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated My -->
      <package
            uri="/Users/tkn/class/software-engineering"
            class="soft.graphics.GraphicsPackage"
            genModel="model/My.genmodel"/>
   </extension>
</plugin>
