<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated My -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="soft.mapping.presentation.MappingModelWizardID"
            name="%_UI_MappingModelWizard_label"
            class="soft.mapping.presentation.MappingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MappingModelFile.gif">
         <description>%_UI_MappingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated My -->
      <editor
            id="soft.mapping.presentation.MappingEditorID"
            name="%_UI_MappingEditor_label"
            icon="icons/full/obj16/MappingModelFile.gif"
            extensions="mapping"
            class="soft.mapping.presentation.MappingEditor"
            contributorClass="soft.mapping.presentation.MappingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated My -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="soft.main.presentation.MainModelWizardID"
            name="%_UI_MainModelWizard_label"
            class="soft.main.presentation.MainModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MainModelFile.gif">
         <description>%_UI_MainModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated My -->
      <editor
            id="soft.main.presentation.MainEditorID"
            name="%_UI_MainEditor_label"
            icon="icons/full/obj16/MainModelFile.gif"
            extensions="main"
            class="soft.main.presentation.MainEditor"
            contributorClass="soft.main.presentation.MainActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated My -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="soft.fileio.presentation.FileioModelWizardID"
            name="%_UI_FileioModelWizard_label"
            class="soft.fileio.presentation.FileioModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FileioModelFile.gif">
         <description>%_UI_FileioModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated My -->
      <editor
            id="soft.fileio.presentation.FileioEditorID"
            name="%_UI_FileioEditor_label"
            icon="icons/full/obj16/FileioModelFile.gif"
            extensions="fileio"
            class="soft.fileio.presentation.FileioEditor"
            contributorClass="soft.fileio.presentation.FileioActionBarContributor">
      </editor>
   </extension>

</plugin>
